/.classpath
/.settings
/.project
/target
/spring-data-search-core/.classpath
/spring-data-search-core/.settings
/spring-data-search-core/.project
/spring-data-search-core/target
/spring-data-search-solr/.classpath
/spring-data-search-solr/.settings
/spring-data-search-solr/.project
/spring-data-search-solr/target
